<%- include("./partials/header-forum") %>
    <form method="post" action="/forum/edit" class="forms" name="forms">
        <fieldset>
            <legend>Edição da categoria</legend>
            <div class="form-group">
                <label for="title">Nome</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName" data-oldName="<%= catName %>" value="<%= catName %>" required>
            </div>
            <div class="form-group">
                <label for="body">Descrição da categoria</label>
                <textarea class="form-control" id="categoryBody" name="categoryBody" data-oldBody="<%= catBody %>" maxlength="100" required><%= catBody %></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar category" class="btnPostar">
            </div>
        </fieldset>
    </form>
<%- include("./partials/footer") %>