<%- include("./partials/header-forum") %>
  <main>
    <% if (categorias.length) { %>
      <ul id="categories">
        <% categorias.forEach(function(categoria) { %>
          <li class="category">
            <a href="/categories/<%= categoria.Cat_nome.toLowerCase() %>">
              <%= categoria.Cat_nome %>
            </a>
            <p>
              <%= categoria.Cat_desc %>
            </p>
            <div id="editCategoryButton">
              <% if (typeof user != 'undefined' && user[0].Regist_gestor == 1) { %>
                <a href="/edit-category/<%= categoria.Cat_nome.toLowerCase() %>"><input type="button" href="/edit-category" value="Editar"/></a>
              <% } %>
            </div>
          </li>
          <% }) %>
      </ul>
      <% if (typeof user != 'undefined' && user[0].Regist_gestor == 1) { %>
        <div id="newCategory">
          <h3><a href="/new-category">Crie uma categoria!</a></h3>
        </div>
      <% } %>
      <% } else { %>
        <% if (typeof user != 'undefined' && user[0].Regist_gestor == 1) { %>
          Sem posts! <a href="/new-category">Crie uma category!</a>
        <% } %>
        <% } %>
  </main>
<%- include("./partials/footer") %>