<%- include("./partials/header-forum") %>
<main>
    <% if (posts.length) { %>
    <ul id="forumPosts">
        <% posts.forEach(function(post) { %>
        <li id="<%= post.Nome %>">
            <% if (typeof user != 'undefined') { %>
                <div class="votos">
                    <form action="/upvote" method="post" id="upvoteForm" name="upvoteForm">
                        <input type="hidden" name="game" value="<%= post.Nome %>">
                        <button type="submit" id="upvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                    </form>
                    <label><%= post.Votos %></label>
                    <form action="/downvote" method="post" id="downvoteForm" name="downvoteForm">
                        <input type="hidden" name="game" value="<%= post.Nome %>">
                        <button type="submit" id="downvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                    </form>
                </div>
            <% } else { %>
                <div class="votos">
                    <form action="/login" method="get" id="upvoteForm" name="upvoteForm">
                        <button type="submit" id="upvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                    </form>
                    <label><%= post.Votos %></label>
                    <form action="/login" method="get" id="downvoteForm" name="downvoteForm">
                        <button type="submit" id="downvote-<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><img></button>
                    </form>
                </div>
            <% } %>
            <div class="post">
                <a href="/posts/<%= post.Nome.replace(/\s+/g, '-').toLowerCase() %>"><%= post.Nome %></a>
                <p><%= post.Conteudo %></p>
            </div>
        </li>
        <% }) %>
    </ul>
    <% if (typeof user != 'undefined') { %>
        <div class="newPost">
            <h3><a href="/new-post">Crie um post!</a></h3>
        </div>
    <% } %>
    <% } else { %>
        <% if (typeof user != 'undefined') { %>
            <div class="newPost">
                <h2>Sem posts!</h2>
                <h3><a href="/new-post">Crie um post!</a></h3> 
            </div>
        <% } %>
    <% } %>
</main>
<%- include("./partials/footer") %>